
#heading{
    color: blueviolet;
}
#h2tag{
    color: brown;
}

body{
    margin: 0px;
}

.box{
    box-shadow: 0px 1px 5px;
    display: flex;
}
.logo{
   height: 100px;
   width: 130px; 
   margin: 0px 50px;
}
input{
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 30px auto;
    padding: 5px;
}
.icon{
   height: 60px;
   width: 60px; 
   margin: 20px 50px;
}

